html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #051236;
    color: #8C8C8A;

    body {
        margin: 2em;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: sofia-pro, Helvetica, sans-serif;
}

p {
    line-height: 1.4;
}

a {
    color: #8C8C8A;
    
    &:hover {
        text-decoration: none;
    }
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    grid-gap: 2em;

    h3 {
        font-weight: 900;
        font-size: 1.4rem;
    }

    .lhs {
        h1 {
            font-size: 3rem;
            padding-bottom: .6rem;
            font-weight: 900;
        }

        .info {
            border: 1px solid #8C8C8A;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 2rem;
            
            > * {
                padding: 1rem;
                border-right: 1px solid #8C8C8A;
                text-align: center;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
    
    .rhs {
        .faq {
            .faq-q {
                padding: 1rem 0rem;

                h3 {
                    padding-bottom: .6rem;
                }
            }
        }
    }
}
