html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #051236;
    color: #8C8C8A;

    body {
        margin: 2em;
    }
}

.main-container {
    h1 {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    ul {
        li {
            padding-bottom: 1rem;
            font-size: 1.2rem;
        }
    }
}
