html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #051236;
    color: #8C8C8A;

    body {
        margin: 2em;
    }
}

h1 {
    font-size: 2rem;
  }